.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    background-color:rgb(35, 105, 161);
    padding: .1px;
    color:white;
}